<div class="row">
  <div class="offset-3 col-6 border shadow-sm p-4">
    <h3 class="mb-4">Register</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          formControlName="phone"
        />
        <small class="form-text text-muted"></small>
      </div>

      <div class="mb-3" *ngIf="isOTPSent">
        <label for="otp" class="form-label">OTP</label>
        <input
          type="tel"
          class="form-control"
          id="otp"
          name="otp"
          formControlName="otp"
        />
      </div>

      <button
        type="button"
        class="btn btn-primary"
        (click)="sendOTP()"
        *ngIf="!isOTPSent"
      >
        Send OTP
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="verifyOTP()"
        *ngIf="isOTPSent"
      >
        Verify OTP
      </button>
      <button
        type="submit"
        class="btn btn-success float-end"
        [disabled]="!isOTPVerified"
      >
        Submit
      </button>
    </form>
  </div>
</div>
