<div class="row">
  <div class="offset-3 col-6 border shadow-sm p-4">
    <h3 class="mb-4">Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          formControlName="password"
        />
      </div>


      <button type="submit" class="btn btn-primary">Login</button>
      <div id="sign-up" class="form-text"> Create Account?<a routerLink="/register" routerLinkActive="active" >Sign Up</a>  </div>
    </form>
  </div>
</div>
